.header{
    text-align: center;
}
#form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*i don't know how its work*/
}
.form-field{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.form-field > input{
    width: 500px;
    height: 30px;
    border-radius: 5px;
}
.form-field > button{
    width: 150px;
    height: 40px;
    border-radius: 5px;
}